* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
section {
  height: 100%;
}
